<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <!-- ====================== Admin ====================== -->


    <servlet>
        <servlet-name>rmCampServlet</servlet-name>
        <servlet-class>kz.helloapp.view.admin.RemoveCampaignServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>rmCampServlet</servlet-name>
        <url-pattern>/admin/action/remove-camp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addPartnerServlet</servlet-name>
        <servlet-class>kz.helloapp.view.admin.AddPartnerServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>adminAuthFilter</filter-name>
        <filter-class>kz.helloapp.view.admin.AdminAuthFilter</filter-class>
    </filter>


    <servlet>
        <servlet-name>adminAuthServlet</servlet-name>
        <servlet-class>kz.helloapp.view.admin.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDispatcherServlet</servlet-name>
        <servlet-class>kz.helloapp.view.admin.DispatcherServlet</servlet-class>
    </servlet>

    <filter-mapping>
        <filter-name>adminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>adminAuthServlet</servlet-name>
        <url-pattern>/admin-auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDispatcherServlet</servlet-name>
        <url-pattern>/admin/view/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>addPartnerServlet</servlet-name>
        <url-pattern>/admin/action/add-partner</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>partnerServlet</servlet-name>
        <url-pattern>/admin/action/remove-partner</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>partnerServlet</servlet-name>
        <servlet-class>kz.helloapp.view.admin.RemovePartnerServlet</servlet-class>
    </servlet>

    <!-- ====================== Partner ====================== -->

    <servlet-mapping>
        <servlet-name>removeCampaignServlet</servlet-name>
        <url-pattern>/partner/action/remove-camp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>removeCampaignServlet</servlet-name>
        <servlet-class>kz.helloapp.view.partner.RemoveCampaignServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>partnerAuthFilter</filter-name>
        <filter-class>kz.helloapp.view.partner.PartnerAuthFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>partnerDispatcher</servlet-name>
        <servlet-class>kz.helloapp.view.partner.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>partnerAuth</servlet-name>
        <servlet-class>kz.helloapp.view.partner.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>partnerAddCampaignServlet</servlet-name>
        <servlet-class>kz.helloapp.view.partner.AddCampaignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>qrCodeServlet</servlet-name>
        <servlet-class>kz.helloapp.view.partner.QRCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkSignServlet</servlet-name>
        <servlet-class>kz.helloapp.view.partner.CheckSignServlet</servlet-class>
    </servlet>




    <filter-mapping>
        <filter-name>partnerAuthFilter</filter-name>
        <url-pattern>/partner/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>partnerDispatcher</servlet-name>
        <url-pattern>/partner/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>partnerAuth</servlet-name>
        <url-pattern>/partner-auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>partnerAddCampaignServlet</servlet-name>
        <url-pattern>/partner/action/add-campaign</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>qrCodeServlet</servlet-name>
        <url-pattern>/partner/qrcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkSignServlet</servlet-name>
        <url-pattern>/partner/action/check-sign</url-pattern>
    </servlet-mapping>


    <!-- ====================== Customer ====================== -->


    <servlet>
        <servlet-name>customerDispatcher</servlet-name>
        <servlet-class>kz.helloapp.view.customer.DispatcherServlet</servlet-class>
    </servlet>



    <!--<filter>-->
        <!--<filter-name>apiVerifyFilter</filter-name>-->
        <!--<filter-class>kz.helloapp.view.customer.api.VerifyFilter</filter-class>-->
    <!--</filter>-->

    <servlet>
        <servlet-name>customerCampaignsServlet</servlet-name>
        <servlet-class>kz.helloapp.view.customer.api.CampaignsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerApplyCampaignServlet</servlet-name>
        <servlet-class>kz.helloapp.view.customer.api.ApplyDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>kz.helloapp.view.customer.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authServlet</servlet-name>
        <servlet-class>kz.helloapp.view.customer.api.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>kz.helloapp.view.LogoutServlet</servlet-class>
    </servlet>



    <!--<filter-mapping>-->
        <!--<filter-name>apiVerifyFilter</filter-name>-->
        <!--<url-pattern>/customer/api/*</url-pattern>-->
    <!--</filter-mapping>-->


    <servlet-mapping>
        <servlet-name>customerDispatcher</servlet-name>
        <url-pattern>/customer/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/customer/action/register</url-pattern>
    </servlet-mapping>



    <servlet-mapping>
        <servlet-name>authServlet</servlet-name>
        <url-pattern>/customer/api-auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerCampaignsServlet</servlet-name>
        <url-pattern>/customer/api/campaigns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerApplyCampaignServlet</servlet-name>
        <url-pattern>/customer/api/apply-campaign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>



</web-app>
